/*Declare colors*/

:root{
  font-size: 16px;
  --text-primary: rgb(0,3,166);
  --text-secondary: #303030;
  --bg-primary: rgb(248, 191, 35);
  --bg-secondary: rgb(61, 0, 166);
  --bg: rgb(245, 245, 245);
  --shadow: rgb(148, 148, 148); 
}

body{
  background-color: var(--bg);
  color: black;
  margin: 0;
  padding: 0;
}

/* For Text*/


h1{
  color: var(--text-secondary);
  text-align: center;
  font-family: "Monaco", monospace;
  font-size: 3rem;
}

.history-text{
  font-family: "Monaco", monospace;
  font-size: 2.5rem;
  color: var(--text-secondary);
  margin: 1;
}

.message-text{
  font-family: "Monaco", monospace;
  font-size: 2rem;
  color: var(--text-secondary);
  margin: 0.5;
}

.clock{
  font-family: "Monaco", monospace;
  font-size: 3rem;
  color: var(--text-secondary);
  margin: 0;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

/* items */



#message{
  flex-grow: 1;
  border: 4px solid var(--bg-primary);
  border-radius: 10px;
  box-shadow: 1px 5px 5px var(--shadow);
  text-align: center;
  margin: 0.5rem;
}

#seat-occupancy{
  flex-grow: 1;
  border: 4px solid var(--bg-primary);
  border-radius: 10px;
  box-shadow: 1px 5px 5px var(--shadow);
  text-align: center;
  margin: 0.5rem;
  user-select: none;
}

#history{
  flex-grow: 1;
  border: 4px solid var(--bg-primary);
  border-radius: 10px;
  box-shadow: 1px 5px 5px var(--shadow);
  text-align: center;
}

#total-vio{
  flex-grow: 1;
  text-align: left;
  margin: 0.5;
}

.message{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: content;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: content;
  flex-grow: 1;
  min-height: 80vh;
}

.seat-occupancy-img{
  width: auto;
  height: auto;
  margin: auto;
  display: block;
}


main{
  margin-left: 5rem;
  padding: 1rem;

}

body::-webkit-scrollbar{
  width:0.25rem;
}

body::-webkit-scrollbar-track{
  background: var(--text-primary)
}

body::-webkit-scrollbar-thumb{
  background: var(--bg-secondary);
}

.navbar{
  width: 5rem; 
  height: 100vh;
  position: fixed;
  background: var(--bg-primary);
  transition: width 200ms ease;
}

.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  font-family: "Monaco", monospace;
  font-weight: bold;
}

.link-text{
  display: none;
  margin-left: 1rem;
}

.nav-link svg{
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover{
  width: 16rem;
}

.navbar:hover .link-text{
  display: block;
}

.total-logo{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  font-family: "Monaco", monospace;
  font-weight: bold;
}

.vio-logo{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  font-family: "Monaco", monospace;
  font-weight: bold;
}

.online-status{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  font-family: "Monaco", monospace;
  font-weight: bold;
}